<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-elem">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `form-elem`
     * Nuevo formulario
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormElem extends Polymer.Element {
      static get is() { return 'form-elem'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-elem'
          }
        };
      }
    }

    window.customElements.define(FormElem.is, FormElem);
  </script>
</dom-module>
